source /usr/share/cachyos-fish-config/cachyos-config.fish

# overwrite greeting
# potentially disabling fastfetch
function fish_greeting
  :
end

function fetch
  fastfetch -l arch
end

# extend PATH
fish_add_path ~/.bin ~/.local/bin/ ~/.cargo/bin/

# npm configuration
set -gx npm_config_prefix "$HOME/.local"

{{ if eq .chezmoi.os "linux" -}}
if status is-interactive
  # rsync as cp/mv alternative
  alias cpr="rsync --archive -hh --partial --info=stats1,progress2 --modify-window=1"
  alias mvr="rsync --archive -hh --partial --info=stats1,progress2 --modify-window=1 --remove-source-files"

  # force myself to use trash-cli
  function rm
    echo "Use trash-cli instead! Use `command rm <file>` to bypass."
    return 1
  end

  # command replacements
  alias nv="nvim"
  alias zj="zellij"
  function cat
    if type -q bat
      bat $argv
    else
      command cat $argv
    end
  end

  {{if not (or (.chezmoi.hostname | lower | contains "vm") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
  function rclonesync
    rclone sync ~/Data/Dungeon/ od:Important/Dungeon/ -P --transfers=10 --checkers=30
    rclone sync ~/Data/College/ od:Important/College/ -P --transfers=10 --checkers=30
    rclone sync ~/Data/Work/ od:Important/Work/ -P --transfers=10 --checkers=30 --filter-from ~/Data/Work/.rclone.filter
    rclone sync od:Important x0rzavi:Important -P --transfers=20 --checkers=100
  end
  {{ end -}}

  zoxide init fish --cmd cd | source
  atuin init fish | source

  {{if not (or (.chezmoi.hostname | lower | contains "vm") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
  # https://github.com/atuinsh/atuin/issues/1302
  function _atuin_postexec --on-event fish_postexec
    set -l s $status

    if test -n "$ATUIN_HISTORY_ID"
        ATUIN_LOG=error setsid -f atuin history end --exit $s -- $ATUIN_HISTORY_ID &>/dev/null
    end

    set --erase ATUIN_HISTORY_ID
  end
  {{ end -}}

  # yazi
  function y
    set tmp (mktemp -t "yazi-cwd.XXXXXX")
    yazi $argv --cwd-file="$tmp"
    if set cwd (command cat -- "$tmp"); and [ -n "$cwd" ]; and [ "$cwd" != "$PWD" ]
      builtin cd -- "$cwd"
    end
    rm -f -- "$tmp"
  end

  {{if (or (.chezmoi.hostname | lower | contains "vm") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
  # doesn't work anymore - manually ssh-add keys
  # DISPLAY=:0 SSH_ASKPASS="$HOME/.ssh/.sshkey" keychain --eval --quiet --quick id_ed25519 | source
  # unlock key normally https://wiki.archlinux.org/title/SSH_keys#Keychain
  keychain --eval --quiet --quick --noask id_ed25519 | source

  set -gx GPG_TTY $(tty)
  printf 'hack' | gpg --clearsign --pinentry-mode loopback --passphrase-file="$HOME/.gnupg/.gpgkey" > /dev/null
  {{ end }}
end
{{ end -}}
