encryption = "gpg"
format = "yaml"
progress = true

[diff]
  command = "nvim"
  args = "-d"

[merge]
  command = "nvim"
  args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
  ]

[edit]
  # command = "code"
  # args = ["--wait"]
  command = "nvim"

[git]
  autoCommit = true
  autoPush = true

[gpg]
  recipient = "x0rzavi@gmail.com"

[update]
  apply = false
