encryption = "gpg"
format = "yaml"
progress = true

[diff]
  command = "nvim"
  args = "-d"

[edit]
  # command = "code"
  # args = ["--wait"]
  command = "nvim"

[git]
  autoCommit = true
  # autoPush = true

[gpg]
  recipient = "x0rzavi@gmail.com"

[update]
  apply = false
