# Extend path
typeset -U path PATH
path=(~/.bin ~/.cargo/bin ~/.local/bin ${path})
export PATH

# Trivial environment variables
export NNN_OPTS='CdDe'
BLK="04" CHR="04" DIR="04" EXE="00" REG="00" HARDLINK="00" SYMLINK="06" MISSING="00" ORPHAN="01" FIFO="0F" SOCK="0F" OTHER="02"
export NNN_FCOLORS="$BLK$CHR$DIR$EXE$REG$HARDLINK$SYMLINK$MISSING$ORPHAN$FIFO$SOCK$OTHER"
export MICRO_TRUECOLOR=1
export GOBIN="${HOME}/.local/bin"
# export XCURSOR_PATH="${XCURSOR_PATH}:~/.local/share/icons:/usr/share/icons"
export EDITOR=nvim
export DIFFPROG="nvim -d"

# Setup npm and yarn user-wide installation paths
export npm_config_prefix="${HOME}/.local"
