# Trivial environment variables
export NNN_OPTS='CdDe'
BLK="04" CHR="04" DIR="04" EXE="00" REG="00" HARDLINK="00" SYMLINK="06" MISSING="00" ORPHAN="01" FIFO="0F" SOCK="0F" OTHER="02"
export NNN_FCOLORS="$BLK$CHR$DIR$EXE$REG$HARDLINK$SYMLINK$MISSING$ORPHAN$FIFO$SOCK$OTHER"
export MICRO_TRUECOLOR=1
export GOBIN="${HOME}/.local/bin"

# Setup npm and yarn user-wide installation paths
export npm_config_prefix="${HOME}/.local"

#{{- if eq .chezmoi.os "linux" }}
#{{   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
## Set options only if user x0rzavi or otherwise
#if [[ $(whoami) = 'x0rzavi' ]]; then
#	# Description: Hack to set gtk4 theme
#	# Reference: https://reddit.com/tnj493
#	# Reference: https://wiki.archlinux.org/title/GTK#Themes
#	export GTK_THEME=Colloid:dark
#
#	# Description: Wayland quirks
#	# Reference: https://github.com/jbuchermn/newm/blob/master/doc/env_wayland.md
#	# Reference: https://wiki.archlinux.org/title/wayland#SDL2
#	# Reference: https://wiki.archlinux.org/title/wayland#Qt
#	# Reference: https://wiki.archlinux.org/title/firefox#Wayland
#	# GTK
#	export GDK_BACKEND=wayland
#	export TDESKTOP_DISABLE_GTK_INTEGRATION=1
#	export CLUTTER_BACKEND=wayland
#	export BEMENU_BACKEND=wayland
#
#	# Qt
#	export QT_QPA_PLATFORM=wayland-egl
#	export QT_STYLE_OVERRIDE=kvantum
#	# export QT_WAYLAND_FORCE_DPI=physical
#	export QT_WAYLAND_DISABLE_WINDOWDECORATION=1
#
#	# Elementary
#	export ELM_DISPLAY=wl
#	export ECORE_EVAS_ENGINE=wayland_egl
#	export ELM_ENGINE=wayland_egl
#	export ELM_ACCEL=opengl
#	export ELM_SCALE=1
#
#	# SDL
#	export SDL_VIDEODRIVER=wayland
#
#	# Firefox
#	# Reference: https://fedoraproject.org/wiki/Firefox_Hardware_acceleration
#	# Note: not needed as of version > 103
#	#export MOZ_LOG="PlatformDecoderModule:5"
#	#export MOZ_DISABLE_RDD_SANDBOX=1
#	# Note: not needed as of version > 102
#	#export MOZ_ENABLE_WAYLAND=1
#
#	# Java
#	export _JAVA_AWT_WM_NONREPARENTING=1
#
#	# Misc
#	# Reference: https://wiki.archlinux.org/title/GTK#Suppress_warning_about_accessibility_bus
#	export NO_AT_BRIDGE=1
#	export WINIT_UNIX_BACKEND=wayland
#fi
#{{ end }}
#{{ end }}