#### Not in ".zshenv" / using ".zprofile" instead of ".zshenv" due to Gentoo/Arch quirks
#### https://forums.gentoo.org/viewtopic-p-8638954.html
#### https://wiki.archlinux.org/title/Zsh#Startup/Shutdown_files
#### EXTEND PATH
typeset -U path PATH
path=(~/.bin ~/.cargo/bin ~/.local/bin ${path})
export PATH

{{- if eq .chezmoi.os "linux" }}
{{  if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# #### AUTOSTART SWAY ON LOGIN IF TTY1
# if [[ -z ${DISPLAY} ]] && [[ $(tty) = '/dev/tty1' ]]; then
# 	exec ${HOME}/.bin/sway_enter.sh
# fi 

#### AUTOSTART NEWM ON LOGIN IF TTY1
if [[ -z ${DISPLAY} ]] && [[ $(tty) = '/dev/tty1' ]]; then
	exec ${HOME}/.bin/newm_enter.sh
fi
{{ end }}
{{ end }}