/* Janleigh's colorscheme */
/* https://github.com/janleigh/dotfiles */

@define-color   fg-jan          #c5c8c9; /* mid white */
@define-color   bg-jan          rgba(11, 15, 16, 0.6); /* deep black */
@define-color   black0-jan      rgba(16, 20, 21, 0.6); /* mid black */
@define-color   black8-jan      rgba(19, 23, 24, 0.6); /* light black */
@define-color   red1-jan        #df5b61; /* darker red */
@define-color   red9-jan        #ee6a70; /* brighter red */
@define-color   green2-jan      #87c7a1;
@define-color   green10-jan     #96d6b0;
@define-color   yellow3-jan     #de8f78;
@define-color   yellow11-jan    #ffb29b;
@define-color   blue4-jan       #6791c9;
@define-color   blue12-jan      #7ba5dd;
@define-color   magenta5-jan    #bc83e3;
@define-color   magenta13-jan   #cb92f2;
@define-color   cyan6-jan       #70b9cc;
@define-color   cyan14-jan      #7fc8db;
@define-color   white7-jan      #c4c4c4; /* dull white */
@define-color   white15-jan     #cccccc; /* bright white */

@define-color   black-extra-jan rgba(40, 44, 45, 0.5); /* more lighter black */