/* Catppuccin Mocha */
@define-color	rosewater	rgb(245, 224, 220);
@define-color	flamingo	rgb(242, 205, 205);
@define-color	pink		rgb(245, 194, 231);
@define-color	mauve		rgb(203, 166, 247);
@define-color	red			rgb(243, 139, 168);
@define-color	maroon		rgb(235, 160, 172);
@define-color	peach		rgb(250, 179, 135);
@define-color	yellow		rgb(249, 226, 175);
@define-color	green		rgb(166, 227, 161);
@define-color	teal		rgb(148, 226, 213);
@define-color	sky			rgb(137, 220, 235);
@define-color	sapphire	rgb(116, 199, 236);
@define-color	blue		rgb(137, 180, 250);
@define-color	lavender	rgb(180, 190, 254);
@define-color	text		rgb(205, 214, 244);
@define-color	subtext1	rgb(186, 194, 222);
@define-color	subtext0	rgb(166, 173, 200);
@define-color	overlay2	rgb(147, 153, 178);
@define-color	overlay1	rgb(127, 132, 156);
@define-color	overlay0	rgb(108, 112, 134);
@define-color	surface2	rgb(88, 91, 112);
@define-color	surface1	rgb(69, 71, 90);
@define-color	surface0	rgb(49, 50, 68);
@define-color	base		rgb(30, 30, 46);
@define-color	mantle		rgb(24, 24, 37);
@define-color	crust		rgb(17, 17, 27);

@keyframes blink_red {
	to {
		color: @red;
		background-color: @crust;
	}
}

.warning, .critical {
	animation-name: blink_red;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.critical {
	animation-duration: 0.6s;
}

* {
	font-family: Iosevka Nerd Font;
	/* font-size: 15px; */
	font-weight: bold;
}

window#waybar {
	background-color: transparent;	/* Keep transparent to blur */
}

window#waybar.hidden {
	opacity: 0.5;
}

window > box {
	/* border-bottom-width: 2px; */
	/* border-color: @crust; */
	/* border-style: solid; */
	background-color: @base;	/* Keep transparent to blur */
}

#memory, #cpu, #cpu.load, #temperature, #clock, #idle_inhibitor,#network , #pulseaudio, #backlight, #battery {
	padding: 6px 10px;
	margin: 0 3px;
	color: @text;
	border-radius: 25px;
	border-width: 0 3px 3px 0;
	border-style: solid;
	border-color: @crust;
	background-color: @surface0;
}

.modules-left, .modules-center, .modules-right {
	/* padding: 5px 0 3px; */
	padding: 5px 0;
	margin: 0 10px;
}

tooltip {
	background: @surface0;
	padding: 15px;
	border-radius: 10px;
}

tooltip label {
	color: @text;
	font-size: small;
}

#battery.charging {
	animation-name: none;
}
