/* Catppuccin Mocha */
@define-color	rosewater	rgb(245, 224, 220);
@define-color	flamingo	rgb(242, 205, 205);
@define-color	pink		rgb(245, 194, 231);
@define-color	mauve		rgb(203, 166, 247);
@define-color	red			rgb(243, 139, 168);
@define-color	maroon		rgb(235, 160, 172);
@define-color	peach		rgb(250, 179, 135);
@define-color	yellow		rgb(249, 226, 175);
@define-color	green		rgb(166, 227, 161);
@define-color	teal		rgb(148, 226, 213);
@define-color	sky			rgb(137, 220, 235);
@define-color	sapphire	rgb(116, 199, 236);
@define-color	blue		rgb(137, 180, 250);
@define-color	lavender	rgb(180, 190, 254);
@define-color	text		rgb(205, 214, 244);
@define-color	subtext1	rgb(186, 194, 222);
@define-color	subtext0	rgb(166, 173, 200);
@define-color	overlay2	rgb(147, 153, 178);
@define-color	overlay1	rgb(127, 132, 156);
@define-color	overlay0	rgb(108, 112, 134);
@define-color	surface2	rgb(88, 91, 112);
@define-color	surface1	rgb(69, 71, 90);
@define-color	surface0	rgb(49, 50, 68);
@define-color	base		rgb(30, 30, 46);
@define-color	mantle		rgb(24, 24, 37);
@define-color	crust		rgb(17, 17, 27);

/*	                    +---> (window#waybar)
	                    |
+------------------------------------------------------------------------------+
|  +------------------------------------------------------------------------+  |
|  |                          |                                             |  |
|  |                          +----> (window > box)                         |  |
|  |  +-----------------+    +-------------------+    +------------------+  |  |
|  |  | (.modules-left) |    | (.modules-center) |    | (.modules-right) |  |  |
|  |  +-----------------+    +-------------------+    +------------------+  |  |
|  +------------------------------------------------------------------------+  |
+------------------------------------------------------------------------------+		

    +-----> (Margin)                                            (Margin) <----+ 
    |                                +------> (Border)                        |
    |                                |                                        |
<-->+=========================================================================+<-->
    ||                                                                       ||
    ||--------------------------------->TEXT<--------------------------------||
    ||           (Padding)                             (Padding)             ||
<-->+=========================================================================+<-->

*/

* {
	font-family: Iosevka Nerd Font, lucide;
	/* font-size: 15px; */
	/* font-weight: bold; */
	transition-property: background-color;
	transition-duration: 1s;
}

window#waybar {
	background-color: transparent;  /* Keep transparent to blur */
}

window#waybar.hidden {
    opacity: 0.5;
}

window > box {
	/* margin: 5px 10px; */
	/* padding: 5px; */
	/* border-radius: 10px; */
	background-color: @base; /* Keep transparent to blur */
}

@keyframes blink_red {
    to {
        background-color: @red-mocha;
        color: @base-mocha;
    }
}

.warning, .critical, .urgent {
	animation-name: blink_red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-launcher, #mode, #clock, #memory, #cpu, #temperature, #idle_inhibitor, #backlight, #pulseaudio, #network, #battery, #custom-off {
	/* margin: 10px 10px; */
	color: @base;
}

.modules-left, .modules-center, .modules-right {
	background-color: @black;
	border-radius: 20px;
	padding: 6px;
	/* box-shadow: 3px 3px 3px 0 @surface0-mocha; */
}

#custom-launcher {
    padding-left: 14px;
    padding-right: 12px;
	margin-left: 5px;
	margin-right: 12px;
    font-size: 16px;
	font-weight: lighter;
	border-radius: 20px;
    background-color: @teal;
}

#workspaces button {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px;
	/* margin-left: 5px; */
	margin-right: 4px;
	color: @base-mocha;
	background-color: @text-mocha;
}

#workspaces button.focused {
	background-color: @sky-mocha;
}

#workspaces button.urgent {
    /* background-color: @red-mocha; */
}

#workspaces button:hover {
    background-color: @blue-mocha;
}

tooltip {
  background: @surface0-mocha;
  border-radius: 10px;
}

tooltip label {
  color: @text-mocha;
}

#mode {
	margin-left: 10px;
	margin-right: 6px;
	background-color: @peach-mocha;
}

#custom-memory-logo {
	padding: 5px 1px 5px 12px;
	border-radius: 20px 0 0 20px;
	/* font-size: 15px; */
	font-weight: bold;
	color: @red;
	background-color: @surface0;
}

#memory {
	padding: 5px 12px 5px 1px;
	border-radius: 0 20px 20px 0;
	background-color: @surface0;
	color: @text;
}

#cpu {
	color: @yellow-mocha;
}

#cpu.2 {
	margin-right: 3px;
	color: @mauve-mocha;
}

#temperature {
	margin-right: 5px;
	color: @blue-mocha;
}

#clock {
	font-size: 16px;
	margin-left: 0px;
	margin-right: 0px;
	color: @rosewater-mocha;
}

#idle_inhibitor {
	margin-left: 5px;
	padding-left: 2px;
	padding-right: 16px;
	background-color: @green-mocha;
}

#backlight {
	background-color: @peach-mocha;
}

#pulseaudio {
	background-color: @mauve-mocha;
}

#network {
	background-color: @teal-mocha;
}

#battery.charging, #battery.full, #battery.discharging {
	background-color: @yellow-mocha;
}

#battery.critical {
	background-color: @peach-mocha;
}

#custom-off {
	margin-left: 10px;
	margin-right: 5px;
	background-color: @red-mocha;
	font-size: 16px;
	padding-left: 15px;
	padding-right: 21px;
}
