* {
	font-family: Iosevka Nerd Font;
	font-size: 15px;
	font-weight: bold; 
	border-radius: 20px;
	transition-property: background-color;
	transition-duration: 1s;
}

@keyframes blink_red {
    to {
        background-color: rgb(243, 139, 168); /* Red Mocha */
        color: rgb(30, 30, 46); /* Base Mocha */
    }
}

.warning, .critical, .urgent {
	animation-name: blink_red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

window#waybar {
	background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.5;
}

window > box {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	/* margin-bottom: 5px; */
	/* padding: 5px; 
	border-radius: 15px; 
	background-color: rgb(17, 17, 27); */ 
}

#custom-launcher, #mode, #clock, #memory, #cpu, #temperature, #idle_inhibitor, #backlight, #pulseaudio, #network, #battery, #custom-off {
	padding-left: 13px;
	padding-right: 13px;
	margin-left: 3px;
	margin-right: 3px;
	color: rgb(39, 30, 46); /* Base Mocha */
}

.modules-left, .modules-center, .modules-right {
	background-color: rgb(30, 30, 46); /* Base Mocha */
	border-radius: 8px;
	padding: 6px;
	border: 2px;
	border-style: solid;
	border-color: rgb(180, 190, 254); /* Lavender Mocha */
	/* box-shadow: 3px 3px 3px 0 rgb(49, 50, 68); */ /* Surface0 Mocha */
}

#custom-launcher {
    padding-left: 14px;
    padding-right: 12px;
	margin-left: 5px;
	margin-right: 12px;
    font-size: 16px;
	font-weight: lighter;
	border-radius: 20px;
    background-color: rgb(203, 166, 247); /* Mauve Mocha */
}

#workspaces button {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	/* margin-left: 5px; */
	margin-right: 4px;
	color: rgb(39, 30, 46); /* Base Mocha */
	background-color: rgb(205, 214, 244); /* Text Mocha */
}

#workspaces button.focused {
	background-color: rgb(137, 220, 235); /* Sky Mocha */
}

#workspaces button.urgent {
    /* background-color: rgb(243, 139, 168); */ /* Red Mocha */
}

#workspaces button:hover {
    background-color: rgb(137, 220, 235); /* Blue Mocha */
}

tooltip {
  background: rgb(49, 50, 68); /* Surface0 Mocha */
  border-radius: 10px;
}

tooltip label {
  color: rgb(205, 214, 244); /* Text Mocha */
}

#mode {
	margin-left: 10px;
	margin-right: 6px;
	background-color: rgb(250, 179, 135); /* Peach Mocha */
}

#memory {
	margin-left: 8px;
	margin-right: 2px;
	background-color: rgb(180, 190, 254); /* Lavender Mocha */
}

#cpu {
	background-color: rgb(249, 226, 175); /* Yellow Mocha */
}

#cpu.2 {
	margin-right: 3px;
	background-color: rgb(242, 205, 205); /* Flamingo Mocha */
}

#temperature {
	margin-right: 5px;
	background-color: rgb(137, 180, 250); /* Blue Mocha */
}

#clock {
	font-size: 16px;
	margin-left: 0px;
	margin-right: 0px;
	color: rgb(245, 224, 220); /* Rosewater Mocha */
}

#idle_inhibitor {
	margin-left: 5px;
	padding-left: 2px;
	padding-right: 16px;
	background-color: rgb(245, 194, 231); /* Pink Mocha */
}

#backlight {
	background-color: rgb(250, 179, 135); /* Peach Mocha */
}

#pulseaudio {
	background-color: rgb(242, 205, 205); /* Flamingo Mocha */
}

#network {
	background-color: rgb(203, 166, 247); /* Mauve Mocha */
}

#battery.charging, #battery.full, #battery.discharging {
	background-color: rgb(249, 226, 175); /* Yellow Mocha */
}

#battery.critical {
	background-color: rgb(250, 179, 135); /* Peach Mocha */
}

#custom-off {
	margin-left: 10px;
	margin-right: 5px;
	background-color: rgb(243, 139, 168); /* Red Mocha */
	font-size: 16px;
	padding-left: 15px;
	padding-right: 21px;
}
